# Web Server
flask==2.2.5
gunicorn==21.2.0

# Biometric Engine (Must be 0.24.2 to load your model)
scikit-learn==0.24.2
joblib==1.5.3
  
# Image Processing & Data
opencv-python-headless==4.8.0.76
numpy==1.26.4
pandas==2.1.4
scipy==1.17.1
matplotlib==3.10.8
Pillow==12.1.1

